:root {
  --text-48-font-family: "Noto Sans", Helvetica;
  --text-48-font-weight: 400;
  --text-48-font-size: 48px;
  --text-48-letter-spacing: 0px;
  --text-48-line-height: normal;
  --text-48-font-style: normal;
  --text-32-font-family: "Noto Sans", Helvetica;
  --text-32-font-weight: 400;
  --text-32-font-size: 32px;
  --text-32-letter-spacing: 0px;
  --text-32-line-height: normal;
  --text-32-font-style: normal;
  --text-20-font-family: "Noto Sans", Helvetica;
  --text-20-font-weight: 400;
  --text-20-font-size: 20px;
  --text-20-letter-spacing: 0px;
  --text-20-line-height: normal;
  --text-20-font-style: normal;
  --text-16-font-family: "Noto Sans", Helvetica;
  --text-16-font-weight: 400;
  --text-16-font-size: 16px;
  --text-16-letter-spacing: 0px;
  --text-16-line-height: normal;
  --text-16-font-style: normal;
  --text-14-font-family: "Noto Sans", Helvetica;
  --text-14-font-weight: 400;
  --text-14-font-size: 14px;
  --text-14-letter-spacing: 0px;
  --text-14-line-height: normal;
  --text-14-font-style: normal;
  --text-10-font-family: "Noto Sans", Helvetica;
  --text-10-font-weight: 400;
  --text-10-font-size: 10px;
  --text-10-letter-spacing: 0px;
  --text-10-line-height: normal;
  --text-10-font-style: normal;
  --bold-48-font-family: "Noto Sans", Helvetica;
  --bold-48-font-weight: 700;
  --bold-48-font-size: 48px;
  --bold-48-letter-spacing: 0px;
  --bold-48-line-height: normal;
  --bold-48-font-style: normal;
  --bold-32-font-family: "Noto Sans", Helvetica;
  --bold-32-font-weight: 700;
  --bold-32-font-size: 32px;
  --bold-32-letter-spacing: 0px;
  --bold-32-line-height: normal;
  --bold-32-font-style: normal;
  --bold-20-font-family: "Noto Sans", Helvetica;
  --bold-20-font-weight: 700;
  --bold-20-font-size: 20px;
  --bold-20-letter-spacing: 0px;
  --bold-20-line-height: normal;
  --bold-20-font-style: normal;
  --bold-16-font-family: "Noto Sans", Helvetica;
  --bold-16-font-weight: 700;
  --bold-16-font-size: 16px;
  --bold-16-letter-spacing: 0px;
  --bold-16-line-height: normal;
  --bold-16-font-style: normal;
  --bold-14-font-family: "Noto Sans", Helvetica;
  --bold-14-font-weight: 800;
  --bold-14-font-size: 14px;
  --bold-14-letter-spacing: 0px;
  --bold-14-line-height: normal;
  --bold-14-font-style: normal;
  --: 0px 0px 6px 0px rgba(163, 160, 232, 0.7);
}
